@media (max-width: 598px) {
    .navbar ul {
     /*  backdrop-filter: blur(10px); */
      background-image: url("./img/fondoKyra-01.jpg");
      background-size: cover;
      opacity: 5;
      /* background: rgba(255, 255, 255, 0.772); */
      width: 100%;
      height: calc(100vh - 100px);
      position: absolute;
      top: 100px;
      left: 0;
      flex-direction: column;
      align-items: end;
      /* justify-content: center; */
      /* display: none; */
      transform: translateX(200%);
      transition: all 0.4s ease;
      padding: 50px;
      gap: 3.5rem;
      font-size: 1.5rem;
    }
    .navbar i {
      display: flex;
    }
  
    #toggle-menu:checked ~ .navbar-list {
      /*   display: flex; */
      transform: translateX(0);
    }


    /* Tamaño de texto(parrafos) - Movile */
    .textContact {
      font-size: 18px;
  }
    .container-info {
    font-size: 18px;
  }
    /* Tamaño de h2 - Movile  */
    .section-informacion h2 {
      font-size: 25px;
    }
    .titulo-album {
      font-size: 25px;
    }

    /* Tamaño de h1 - Movile */
    .titulo {
      font-size: 26px;
    }
}

  


  /* ocultamos el  menu hamburguesa */
  @media (min-width: 598px) {
    .bars-menu {
      display: none;
    }
  }