
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #653655;
  font-family: Poppins;
  /* outline: 1px solid rgb(24, 46, 187); */
}

body {
  background-image: url("./img/fondoKyra-01.jpg");
  background-size: cover;
}
main {
  padding: 1rem;
}
/* =========================== Header ========================================== */
header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.579);
}
.logo {
  width: 70px;
}
/* =========================== Menu ================================================= */
.navbar {
  display: flex;
}
.navbar ul {
  display: flex;
  gap: 2rem;
}
#toggle-menu {
  display: none;
}
.navbar-link {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  font-size: 24px;
  color: #653655;
}
.bars-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.bars-menu span {
  height: 2.5px;
  width: 35px;
  background: black;
  transition: transform 0.3s;
}
#toggle-menu:checked ~ .bars-menu span:nth-child(1) {
  position: absolute;
  top: 0;
  transform: rotate(135deg);
}
#toggle-menu:checked ~ .bars-menu span:nth-child(2) {
  opacity: 0;
}
#toggle-menu:checked ~ .bars-menu span:nth-child(3) {
  position: absolute;
  top: 0;
  transform: rotate(225deg);
}

/* =========================== Section Hero =======================================*/
.hero {
  /* background: rgb(230, 221, 221); */
  display: flex;
  justify-content: center;
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}
.img-hero {
  padding: 0.5rem;
}
.hero img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
.titulo {
  width: 400px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgb(203, 183, 223); */
}
.span-name {
  font-size: 80px;
  font-weight: bold;
  padding: 5px;
  background: #b9952c;
  background: linear-gradient(to right, #b9952c 0%, #e2bfdb 58%, #653655 83%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* =========================== Section Contact=================================== */

.section-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
  font-size: 30px;
}
.textContact {
  text-align: center;
  /* background-color: bisque; */
  font-weight: lighter;
}
.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  gap: 2rem;
  /* background-color: rgb(177, 235, 235); */
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 350px;
  height: 80px;
  background: #d8c5c4;
  border-radius: 40px;
  border: 1px solid #653655;
}
.icon-whatsapp{
  font-size: 40px;
}
.btn-contact {
  width: 150px;
  color: #653655;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 2px;
}
/* =========================== Section Información ===================================== */

.section-informacion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.section-informacion h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.div-container-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-info {
  display: flex;
  font-size: 30px;
}
.container-info p {
  font-weight: semi-bold;
  width: 200px;
  
}
.container-info span {
  width: 200px;
  font-weight: lighter;
  
}
/* =========================== Section Album ===================================== */
.titulo-album {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 5rem;
}
